Flask==0.10.1
Flask-Testing==0.4.2
Flask-Login==0.3.2
gunicorn==19.3.0
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
pymongo==3.1
Werkzeug==0.11
wheel==0.24.0
WTForms==2.0.2
nose==1.3.7
Fabric==1.10.2
googlemaps==2.4.2
flask-googlemaps==0.1.9
