alabaster==0.7.6
Babel==2.1.1
decorator==4.0.4
dj-database-url==0.3.0
dj-static==0.0.6
docutils==0.12
epydoc==3.0.1
Flask==0.10.1
Flask-Shelve==0.1.1
Flask-WTF==0.12
gunicorn==19.3.0
itsdangerous==0.24
Jinja2==2.8
Markdown==2.6.3
MarkupSafe==0.23
mccabe==0.3.1
nose==1.3.7
pep8==1.5.7
psycopg2==2.6.1
Pycco==0.3.0
pyflakes==1.0.0
Pygments==2.0.2
pystache==0.5.4
pytz==2015.7
six==1.10.0
smartypants==1.8.6
snowballstemmer==1.2.0
static3==0.6.1
validators==0.9
Werkzeug==0.10.4
WTForms==2.0.2
