

body.portada
{
	background: url(../wallpaper/golden_bridge2.jpg) no-repeat fixed center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
}

h1.portada
{
	word-spacing: 20px;
	font-size: 120px;
	color: #F2F5A9;
    padding-bottom: 6%;
}


/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: white;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #0B243B;
  border: 1px solid #fff;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:focus {
  padding-left: 3%;
  padding-right: 3%;
}

h2.portada
{
    color: steelblue ; 
    font-size: 50px;   
}
h3.portada
{
    padding-top: 3%;
    color: white ;  
}

h2.main,h3.main
{
    padding-bottom: 3%;
}
