{% extends "base.html" %}
{% block title %}
<title>Página subir</title>
{% endblock %}
{% block navbar %}
            <li><a href="/inicio">Inicio</a></li>
            <li><a href="/subir">Subir Landscape</a></li>
            <li><a href="/lugares">Ver Landscapes</a></li>
            <li><a href="/contacto">Contacto</a></li>
            <li><a href="/nosotros">Quienes somos</a></li>
{% endblock %}

{% block content %}
  {% macro render_field(field) %}
              <dt>{{ field.label }}
              <dd>{{ field(**kwargs)|safe }}
              {% if field.errors %}
                  <ul class=errors>
                  {% for error in field.errors %}
                      <li>{{ error }}</li>
                  {% endfor %}
                  </ul>
              {% endif %}
              </dd>
   {% endmacro %}
            
            <form>
                <h2 class= "main">Suba su Landscape</h2>
                <dl>
                <div class="form-group">
                    {{ render_field(form.title) }}
                </div>
                 <div class="form-group">
                    {{ render_field(form.location) }}
                </div>
                <div class="form-group">
                    {{ render_field(form.description) }}
                </div>
		<div form action="/upload/" method="POST" enctype="multipart/form-data">
		    {{ render_field(form.photo) }}
		</div>
              </dl>
              <p><input class="btn btn-sm btn-primary" type=submit value=Subir>
              </p>
          </form>
            

{% endblock %}
