{% extends "base.html" %}
{% block title %}
<title>Página subir</title>
{% endblock %}
{% block navbar %}
            <li><a href="/inicio">Inicio</a></li>
            <li><a href="/subir">Subir Landscape</a></li>
            <li><a href="/lugares">Ver Landscapes</a></li>
            <li><a href="/contacto">Contacto</a></li>
            <li><a href="/nosotros">Quienes somos</a></li>
{% endblock %}

{% block content %}
      <div class="container">
              <p>
                  <h2 class= "main" >Suba su Landscape</h2>
                 <a href="/subir_1" class="btn btn-lg btn-success">A partir de las coordenadas</a>
                 <a href="/subir_2" class="btn btn-lg btn-primary">A partir de la dirección</a>
              </p>
    </div> <!-- /container -->

{% endblock %}
